.bedroom{
    background-color: aquamarine;

    width: 300px;
  float: left;
  padding: 10%;
}

.living-room{
    background-color: aqua;

    width: 300px;
  float: left;
  padding: 10%;

}


.bathroom{
    background-color: aliceblue;

    width: 300px;
  float: left;
  padding: 10%;
}

img {
    max-width: 100%;
    height: auto;
    padding: 10%;
  }